@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <br />
    Julian Rincón Henao<br />
    <abbr title="Phone">(+57) 312 7497652</abbr><br />
    Medellín
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">henao023@hotmail.com</a><br />
</address>