@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron animate__animated animate__fadeIn">
    <div class="row center-block" style="position:relative; left:36%;">
        <div>
            <img style="max-width: 250px;" src="https://www.masglobalconsulting.com/assets/img/LogoMasGlobalHeader.png" alt="MasGlobal" class="img-thumbnail">
        </div>
    </div>
    <br />
    <div class="form-horizontal" >
        <div class="form-group" style="position:relative; left:35%;">
            <div class="col-md-8">
                <input id="EmployeeID" name="EmployeeID" type="text" class="form-control" placeholder="Enter Employee Id" />
            </div>
        </div>
        <div class="form-group" style="position:relative; left:42%;">
            <div class="col-md-8">
                <button class="btn btn-primary" id="GetEmployees" value="Get Employees" onclick="GetEmployees()">
                    <span class="glyphicon glyphicon-search"></span> Get Employees
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table style="visibility: hidden" id="EmployeesList" name="EmployeesList" class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Contract Type Name</th>
                    <th>Role Name</th>
                    <th>Role Description</th>
                    <th>Year Salary</th>
                </tr>
            </thead>
            <tbody id="employees"></tbody>
        </table>
    </div>
</div>
<script type="text/javascript">

    function formatNumber(num) {
        return num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }

    function GetEmployees() {
        $("#EmployeesList").css("visibility", "hidden");
        var idEmployee = $("#EmployeeID").val();
		var service = service = "/api/EmployeeApi/" + idEmployee;
        
        $.ajax({
            url: service,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var row = "";
                if ($.trim(data) == '') {
                    row += "<br/><tr><td colspan='6'><div style='position:relative; left:45%;'>No records found...</div></td></tr>"
                }
                else {
                    $.each(data,
                        function (index, item) {
                            row += "<tr><td>" + item.Id + "</td>" +
                                "<td>" + item.Name + "</td>" +
                                "<td>" + item.ContractTypeName + "</td>" +
                                "<td>" + item.RoleName + "</td>" +
                                "<td>" + item.RoleDescription + "</td>" +
                                "<td>" + formatNumber(item.YearSalary) + "</td></tr>";
                        });
                }
                
                
                $("#employees").html(row);
                $("#EmployeesList").addClass("animate__animated animate__fadeIn");
                $("#EmployeesList").css("visibility", "visible");
            },
            error: function (result) {
                alert(result.responseText);
            }
        });
    }
</script>